body
 {
   background-image: url('../images/elon.jpg');
   margin: 30px 0 0px 30px;
   border-style: solid;
   display: inline-block;
   border-width: 10px;
   border-top-color: yellow;
   border-left-color: yellow;
 }
 .block1
 {
   background:black;
   color:white;
   display:inline-block;
   font-size: 20px;
   font-family: serif;
   font-style: italic;
 }
 .heading1
  {
    background-color: white;
    color:green;
    font-style: oblique;
    font-family: monospace;
  }
  .question
  {
    padding: 10px 10px 10px 10px;
    color: orange;
    font-size: 18px;
    border-style: solid;
  }
  .answer
   {
     font-size: 35px;
     color: red;
     font-family: sans-serif;
     font-style: italic;
   }
   #ca:hover
    {
      background-color: yellow;
      color:black;
    }
    .result
     {
       background: green;
       padding: 20px;
       margin: 20px;
       border-style:inset;
       border-radius: 20px;
       border-width: 10px;
       word-spacing: 200px;
       display:inline-block;
     }
  input
    {
      font-family: serif;
      color:white;
      background: black;
      font-size: 30px;
    }
    input:hover
     {
       color: orange;

     }
